{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
</head>

<body>
    {% include 'place-info.html' with background_url="/country/picture?country_id="|add:country_id name=name description=description navigation=""%}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="large-10 columns small-centered">
            <h3>Popular City</h3>
            <div class="row large-up-3 project-overlay-inset">
            {% for c in city_list %}
            {% include 'thumbnail-template.html' with object=c link_to="/city/?city_id=" link_img="/city/picture/?city_id=" %}
            {% endfor %}
            </div>
            <a href="#" style="color:black"><p style="text-align: right;">Show more</p></a>

            <h3 style="margin-top: 2em;">Popular Place</h3>
            <div class="row large-up-3 project-overlay-inset">
                <div class="column" style="margin-top: 2em;"><a href="#" row="button" aria-label="Thumbnail"><div style="position: relative;"><img src={% static "pictures/plearn-wan.jpg" %} class="popular-image" style="width: 100%; height: 200px" /><div class="overlay"><div class="overlay-text">Plearn Wan<br>Hua Hin, Thailand</div></div></div></a></div>
                <div class="column" style="margin-top: 2em;"><a href="#" row="button" aria-label="Thumbnail"><div style="position: relative;"><img src={% static "pictures/pai.jpg" %} class="popular-image" style="width: 100%; height: 200px" /><div class="overlay"><div class="overlay-text">Pai<br>Mae Hongson, Thailand</div></div></div></a></div>
                <div class="column" style="margin-top: 2em;"><a href="#" row="button" aria-label="Thumbnail"><div style="position: relative;"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="popular-image" style="width: 100%; height: 200px" /><div class="overlay"><div class="overlay-text">Wat Poramaiyikawas<br>Nonthaburi, Thailand</div></div></div></a></div>
            </div>
            <a href="#" style="color:black"><p style="text-align: right;">Show more</p></a>
        </div>
    </div>
    {% if access_edit %}
    <div class="row">
                    <div class="large-4 columns">
                        <a class="expanded button" href="/country/edit?country_id={{ country_id }}">Edit Country</a>
                    </div>
                    <div class="large-4 columns">
                        <a class="expanded button" href="/country/delete?country_id={{ country_id }}">Delete Country</a>
                    </div>
                    <div class="large-4 columns"><a class="expanded button" href="/country/change-picture?country_id={{ country_id }}">Edit Image</a></div>
                </div>
    {% endif %}
    {% include 'footerbar.html' %}
</body>
</html>
