{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Complete</title>
</head>
<body>
    <div id="orange-farm-big"></div>
    <h1 class="text-centered">Your change is now complete</h1>
    <div class="text-centered">If you are not redirect automatically <a href='/country?country_id={{ country_id }}'>click here</a></div>
    <script>
function redirect() {
    window.location.href = '/country?country-id={{ country_id }}';
}
setTimeout(redirect, 100);
var data = {logo: "{% static 'logo/orange-farm-transparent.png' %}"
};
    </script>
<script src={% static "js/orange-farm-big.js" %} type="text/babel"></script>
</body>
</html>
