@charset "UTF-8";
.row:before, .row:after {
    content: ' ';
    display: table;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-order: 1;
    order: 1
}
.text-centered {
    text-align: center;
}
body {
    background-color: #f2f2f2;
}
