{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <link rel="stylesheet" href={% static "foundation-6/css/foundation.css" %}>
    <link rel="stylesheet" href={% static "foundation-6/css/app.css" %}>
    <link rel="stylesheet" href={% static "foundation-icons/foundation-icons.css" %}>
    <link rel="stylesheet" href={% static "css/login/styles.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
</head>
<body>
    <div id="orange-farm-big"></div>
    <div class="row">
            <div class="large-6 columns small-centered">
              <div class="signup-panel">
                <div class="welcome" style="font-size: 40px; ">Login</div>
                <div class="text-centered" style="margin-bottom: 1em;">
                    {% if alert %}
                    <div style="color: red;">{{ alert }}</div>
                    {% endif %}
                </div>
                <form method="post" name="submit_form" id="submit_form" action="/login/login-status/">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-label"><i class="fi-torso-female"></i></span>
                        <input class="input-group-field" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <span class="input-group-label"><i class="fi-lock"></i></span>
                        <input class="input-group-field" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="footer" style="margin-bottom: 1em;">
                        Don't have an account? <a href="/register">Register</a><br>
                    </div>
                    <div class="footer">
                        <input type="submit" class="button" value="Login">
                    </div>
                </form>
              </div>
            </div>
    </div>
</body>
<script>
var data = {logo: "{% static 'logo/orange-farm-transparent.png' %}"
};
</script>
<script src={% static "js/orange-farm-big.js" %} type="text/babel"></script>
</html>
