{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Trip Finder</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>
<style>
    td {
        text-align: left;
        background-color: white;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white
    }
</style>
<body>
    {% include 'navbar.html' %}

    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar active"></span>
                <div class="circle active">
                    <span class="label">2</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">3</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <br>
        <div class="large-7 columns small-centered">
            <h4>Checking</h4>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Package Tour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Name of Package Tour:</td>
                        <td width="50%">Hong kong</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Company:</td>
                        <td>Orange farm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Depart date:</td>
                        <td>dd/mm/yy</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Return date:</td>
                        <td>dd/mm/yy</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Travel by:</td>
                        <td>plane</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Traveller Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td>Adult:</td>
                        <td width="50%">1</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Children:</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <br><br>
    </section>



    <section>
        <div class="large-7 columns small-centered">
            <h4>Price(Bath)</h4>
            <table text-align="center">
                <tr>
                    <th>Package Tour ID</th>
                    <th>Name of Package Tour</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total Price</th>
                </tr>
                <tr text-align="center">
                    <td style="text-align:center">PackageTour_ID</td>
                    <td style="text-align:center">name</td>
                    <td style="text-align:center">9,999 THB</td>
                    <td style="text-align:center">1</td>
                    <td style="text-align:center">9,999 THB</td>
                </tr>
            </table>
        </div>
        <br><br>
    </section>

    <div class="row">
        <div class="large-7 columns small-centered">
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/info">back</a>
            </div>
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/payment">Next</a>
            </div>
        </div> 
    </div>

    {% include 'footerbar.html' %}
</body>
</html>
