{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this_booking.trip.name }}</title>
    {% include 'essential.html' %}
    {% include 'jquery-essential.html' %}
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>
<style>
    td {
        text-align: left;
        background-color: white;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white
    }
</style>
<body>
    {% include 'navbar.html' %}
    <input type='hidden' id='booking_id' name='booking_id' value="{{ this_booking.id }}">
    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar active"></span>
                <div class="circle active">
                    <span class="label">2</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">3</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <input type='hidden' id='booking_id' name='booking_id' value="{{ this_booking.id }}">
        <br>
        <div class="large-7 columns small-centered">
            <h4>Checking</h4>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Package Tour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td>Name of Package Tour:</td>
                        <td width="50%">{{ this_booking.trip.name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Company:</td>
                        <td>{{ this_booking.trip.company.name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Depart date:</td>
                        <td>{{ this_booking.trip.start_date }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Return date:</td>
                        <td>{{ this_booking.trip.end_date }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Travel by:</td>
                        <td>{{ this_booking.trip.travel_by }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br><br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Traveller Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td>Adult:</td>
                        <td width="50%">{{ this_booking.adult }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Children:</td>
                        <td>{{ this_booking.children }}</td>
                    </tr>
                </tbody>
            </table>
        </div>  

        {% for t in this_booking.member %}
        <br><br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="6">person information</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr>
                        <td width="5%"></td>
                        <td width="20%">Full Name</td>
                        <td>{{ t.title }}</td>
                        <td>{{ t.firstname }}</td>
                        <td width="20%">{{ t.lastname }}<td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gender</td>
                        <td>{{ t.gender }}</td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Date of Birth</td>
                        <td>{{ t.bday }}</td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Nationality</td>
                        <td>{{ t.nation }}</td>
                        <td>Thai Citizen ID</td>
                        <td>{{ t.citizenid }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Passport No.</td>
                        <td>{{ t.passportno }}</td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Contact Info</td>
                        <td>Mobile</td>
                        <td>{{ t.mobile }}</td>
                        <td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Email</td>
                        <td>{{ t.email }}</td>
                        <td></td><td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </section>


    <section>
        <br>
        <div class="large-7 columns small-centered">
            <h4>Price(Bath)</h4>
            <table text-align="center">
                <tr>
                    <th>Name of Package Tour</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total Price</th>
                </tr>
                <tr text-align="center">
                    <td style="text-align:center">{{ this_booking.trip.name }}</td>
                    <td style="text-align:center">{{ this_booking.trip.price }} THB</td>
                    <td style="text-align:center">{{ this_booking.people }}</td>
                    <td style="text-align:center">{{ total_price }} THB</td>
                </tr>
            </table>
        </div>
        <br><br>
    </section>

    <div class="row">
        <div class="large-7 columns small-centered">
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/info?booking_id={{ this_booking.id }}">Back</a>
            </div>
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/payment?booking_id={{ this_booking.id }}">Confirm</a>
            </div>
        </div> 
    </div>

    {% include 'footerbar.html' %}
</body>
</html>
