{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Trip Finder</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>

<body>
    {% include 'navbar.html' %}
    
    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar active"></span>
                <div class="circle active">
                    <span class="label">2</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">3</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <br>
        <div class="large-6 columns small-centered">
            <div style="background-color:#D5DBDB">
                <h3 style="text-align:left">Checking</h3>
            <div style="background-color:white">
                <h4 style="text-align:left">Package Tour</h4>
                <h5 style="text-align:left">Name of Package Tour:</h5>
                <h5 style="text-align:left">Package Tour ID:</h5>
                <h5 style="text-align:left">Depart date:</h5>
                <h5 style="text-align:left">Return date:</h5>
                <h5 style="text-align:left">Airline:</h5>
                <h5 style="text-align:left">Flight:</h5>
            </div>
            </div>
        </div>
        <div class="large-6 columns small-centered">
            <div style="background-color:white">
                <h4 style="text-align:left">Traveller Detail</h4>
                <h5 style="text-align:left">Seat Available:</h5>
                <h5 style="text-align:left">Adult: {{ selAdult }}</h5>
                <h5 style="text-align:left">Children: {{ selChild }}</h5>
                <p style="text-align:center">*Passenger age less than 12 years old is children</p>
                <p style="text-align:center">*If you have a baby please information 02-792-9292</p>
                <h5 style="text-align:left">Depart date:</h5>
                <h5 style="text-align:left">Return date:</h5>
            </div>
        </div>
        <div class="large-6 columns small-centered">
            <div style="background-color:white">
                <h4 style="text-align:left">Room Detail</h4>
                <h5 style="text-align:left">Total guest: </h5>
                <h5 style="text-align:left">twin bedroom: {{ selTwin }}</h5>
                <h5 style="text-align:left">single bedroom: {{ selSingle }}</h5>
                <p style="text-align:center">*single bedroom increase price 10,000 baht</p>
            </div>
        </div>
        <div class="large-6 columns small-centered">
            <div style="background-color:white">
                <h4 style="text-align:left">Food Detail</h4>
                <h5 style="text-align:left">Vegetarian: {{ selVet }}</h5>
                <h5 style="text-align:left">Muslim: {{ selMus }}</h5>
                <h5 style="text-align:left">Seafood Allergy: {{ selSea }}</h5>   
                <h5 style="text-align:left">Allergy:</h5>
            </div>
        </div>
        <br>
    </section>

    <section>
        <br>
        <div class="large-6 columns small-centered">
        <div style="background-color:white">
                <h4 style="text-align:left;background-color:#D5DBDB">Price(Bath)</h4>
                <table align="center">
                    <tr style="background-color:#D5DBDB">
                        <th>Package Tour ID</th>
                        <th>Name of Package Tour</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Total Price</th>
                    </tr>
                    <tr style="background-color:white">
                        <td>PackageTour_ID</td>
                        <td>name</td>
                        <td>9,999 THB</td>
                        <td>1</td>
                        <td>9,999 THB</td>
                    </tr>
                </table>
        </div>
        </div>
    </section>

    <div class="row">
        <div class="large-6 columns small-centered">
            <a class="expanded button" href="/booking/info">Back</a>
        </div>
        <div class="large-6 columns small-centered">
            <a class="expanded button" href="/booking/payment">Next</a>
        </div>
    </div>

    {% include 'footerbar.html' %}
</body>
</html>
