{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>
<style>
    td {
        text-align: left;
        background-color: white;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white
    }
</style>
<body>
    {% include 'navbar.html' %}

    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle active">
                    <span class="label">1</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">2</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">3</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">5</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Package Tour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td>Name of Package Tour:</td>
                        <td width="50%">Hong kong</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Company:</td>
                        <td>Orange farm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Depart date:</td>
                        <td>dd/mm/yy</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Return date:</td>
                        <td>dd/mm/yy</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Travel by:</td>
                        <td>plane</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Traveller Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td>Seat Available:</td>
                        <td width="50%">15</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Adult:</td>
                        <td><select style="height:35px; width:80px">
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Children:</td>
                        <td><select style="height:35px; width:80px">
                            <option value="0">-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td></td><td></td>
                        <td style="color:red;"><font size="2">*Passenger age less than 12 years old is children</font></td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <br><br>
    </section>

    <div class="row">
        <div class="large-7 columns small-centered">
            <div class="large-4 columns"></div>
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/info">Next</a>
            </div>
        </div>
    </div>
    {% include 'footerbar.html' %}   
</body>
</html>
