{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>
<style>
    td {
        text-align: left;
        background-color: white;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white
    }
</style>
<body>
    {% include 'navbar.html' %}

    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar active"></span>
                <div class="circle active">
                    <span class="label">2</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">3</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">5</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <br>
        <div class="large-8 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="6">The first person information</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
                		<td width="5%"></td>
                        <td>Full Name</td>
                		<td>Title</td>
                		<td>Firstname</td>
                	 	<td>Lastname</td>
                        <td width="5%"></td>
                	</tr>
                    <tr>
                       	<td></td><td></td>
                        <td>
                        	<select style="height:35px; width:80px">
                            	<option value="mr." selected="selected">Mr.</option>
                            	<option value="ms.">Ms.</option>
                            	<option value="miss">Miss</option>
                        	</select>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="firstname" placeholder="First Name" required>
							</form>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="lastname" placeholder="Last Name" required>
							</form>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td><td></td><td></td>
                    	<td>Firstname(Thai)</td>
                    	<td>Lastname(Thai)</td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td><td></td><td></td>
                    	<td>
                        	<form action="action_page.php"><input type="text" name="firstname" placeholder="ชื่อภาษาไทย" required>
							</form>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="lastname" placeholder="นามสกุลภาษาไทย" required>
							</form>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gender</td>
                        <td>
                        	<select style="height:35px; width:90px">
                            	<option value="female">Female</option>
                            	<option value="male" selected="selected" >Male</option>             
                        	</select>
                        </td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Date of Birth</td>
                        <td>
                        	<input type="date" name="bday" min="1916-01-01" max="2015-01-01"></td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Nationality</td>
                        <td>
                        	<select style="height:35px; width:200px">
                            	<option value="thai" selected="selected">Thai</option>
                            	<option value="american">American</option>
                            	<option value="korean">Korean</option>
                        	</select>
                        </td>
                        <td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Thai Citizen ID (Thai only)</td>
                        <td>
                        	<form action="action_page.php">
                        		<input type="text" name="firstname" placeholder="Thai Citizen ID" required>
							</form>
						</td>
                        <td></td><td></td><td></td>
                    </tr>
            	    <tr>
                        <td></td>
                		<td>Passport Info</td>
                		<td>Passport No.</td>
                		<td>Issuing Authority</td>
                        <td></td><td></td>
                    </tr>
               	    <tr>
                    	<td></td><td></td>
                    	<td>
                        	<form action="action_page.php"><input type="text" name="passportNo" placeholder="Passport No." required>
							</form>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="issue" placeholder="Issuing Authority" required>
							</form>
                        </td>
                        <td></td><td></td>
                    </tr>
                    <tr>
                		<td></td><td></td>
                		<td>Date of Issue</td>
                		<td>Date of Expiry</td>
                        <td></td><td></td>
                	</tr>
                   	<tr>
                    	<td></td><td></td>
                    	<td>
                        	<form action="action_page.php"><input type="text" name="dateIssue" placeholder="dd-mm-yyyy" required>
							</form>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="dateExpire" placeholder="dd-mm-yyyy" required>
							</form>
                        </td>
                        <td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                		<td>VISA Info</td>
                		<td>VISA No.</td>
                		<td>Date of Expiry</td>
                        <td></td><td></td>
                	</tr>
                	<tr>
                    	<td></td><td></td>
                    	<td>
                        	<form action="action_page.php"><input type="text" name="visaNo" placeholder="VISA No." required>
							</form>
                        </td>
                        <td>
                        	<form action="action_page.php"><input type="text" name="dateExpireVisa" placeholder="mm-dd-yyyy" required>
							</form>
                        </td>
                        <td></td><td></td>
                    </tr>
            	    <tr>
                        <td></td>
                		<td>Contact Info</td>
                		<td>Telephone</td>
                		<td>Mobile</td>
                	 	<td>Email</td>
                        <td></td>
                    </tr>
               	    <tr>
               			<td></td><td></td>
                    	<td>
                    		<form action="action_page.php"><input type="text" name="tel" placeholder="02-xxx-xxxx" required>
							</form>
                    	</td>
                    	<td>
                    		<form action="action_page.php"><input type="text" name="mobil" placeholder="08x-xxx-xxxx" required>
							</form>
                    	</td>
                    	<td>
                        	<form action="action_page.php"><input type="text" name="email" placeholder="john@abc.com" required>
							</form>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
    </section>

    <div class="row">
        <div class="large-7 columns small-centered">
            <div class="large-4 columns">
                <a class="expanded button" href="/booking">back</a>
            </div>
            <div class="large-4 columns">
                <a class="expanded button" href="/booking/checking">Next</a>
            </div>
        </div> 
    </div>
    {% include 'footerbar.html' %}
</body>
</html>
