{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% include 'essential.html' %}
    {% include 'jquery-essential.html' %}
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/progress_bar/styles.css"%}>
</head>
<style>
    td {
        text-align: left;
        background-color: white;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white
    }
</style>
<body>
    {% include 'navbar.html' %}
    <input type='hidden' id='booking_id' name='booking_id' value="{{ booking_id }}">
    <section>
        <div class="large-6 columns small-centered">
            <div class="progress">
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Detail</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Infomation</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">&#10003</span>
                    <span class="title">Checking</span>
                </div>
                <span class="bar active"></span>
                <div class="circle active">
                    <span class="label">3</span>
                    <span class="title">Payment</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Finish</span>
                </div>
            </div>
            <br><br>
        </div>
    </section>

    <section>
        <input type='hidden' id='booking_id' name='booking_id' value="{{ booking_id }}">

        <br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Package Tour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Name of Package Tour:</td>
                        <td width="50%">{{ name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Company:</td>
                        <td>{{ company_name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Price:</td>
                        <td>{{ total_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="large-7 columns small-centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Payment Method: ชำระโดยการโอนเงิน/โดยตรงหน้าเคาท์เตอร์/บิล</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><td><td></td></td></td></tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a class="expanded button" href="/booking/finish?booking_id={{ booking_id }}">ชำระ โดยการชำระที่ธนาคารโดยตรง</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center">*การชำระโดยการโอนเงิน/โดยตรงหน้าเคาท์เตอร์/บิล จะมีการส่งคำสั่งไปยังทางเจ้าหน้าที่เพื่อยืนยันการสั่งซื้อและจะติดต่อกลับภายใน 24-48 ชม. ในเวลาทำการเพื่อเป็นการยืนยันการสั่งซื้อ</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </section>

    <div class="row">
        <div class="large-6 columns small-centered">
            <div class="large-12 columns">
                <a class="expanded button" href="/booking/checking?booking_id={{ booking_id }}">Back</a>
            </div>
        </div>
    </div>

    {% include 'footerbar.html' %}
</body>
</html>
