{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <link rel="stylesheet" href={% static "foundation-6/css/foundation.css" %}>
    <link rel="stylesheet" href={% static "foundation-6/css/app.css" %}>
    <link rel="stylesheet" href={% static "foundation-icons/foundation-icons.css" %}>
    <link rel="stylesheet" href={% static "css/login/styles.css" %}>
</head>
<body>
    <div class="row">
        <div class="large-4 columns"><div class="row"></div></div>
        <body class="iframe-body">
          <div class="row">
            <div class="large-6 columns small-centered">
              <div class="signup-panel">
                <p class="welcome">Register</p>
                <form method="post" name="submit_form" id="submit_form" action="/register/complete-register/">
                  {% csrf_token %}
                  <div class="row collapse">
                    <div class="small-1  columns">
                      <span class="prefix"><i class="fi-torso-female"></i></span>
                    </div>
                    <div class="small-11  columns">
                      <input type="text" name="username" placeholder="username">
                    </div>
                  </div><div class="row collapse">
                    <div class="small-1  columns">
                      <span class="prefix"><i class="fi-mail"></i></span>
                    </div>
                    <div class="small-11  columns">
                      <input type="text" name="email" placeholder="email address">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-1 columns ">
                      <span class="prefix"><i class="fi-lock"></i></span>
                    </div>
                    <div class="small-11 columns ">
                      <input type="password" name="password" placeholder="password">
                    </div>
                  </div>
                <p class="footer">Have an account? <a href="/login">Login</a></p>
                <input type="submit" class="button" value="Login">
              </form>
              </div>
            </div>
          </div>
        </body>
    </div>
</body>
</html>
