{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/user_profile/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em">
    <div class="large-6 columns small-centered">
        <div class="row">
        <div id="alert"></div>
        </div>
        <div class="row">
            <form action="" method="post" >
                {% csrf_token %}
                <label for="">Current Password
                    <input name="current-password" id="current-password" type="password" placeholder="Current Password">
                </label>
                <label for="">New Password
                    <input name="new-password" id="new-password" type="password" placeholder="New Password">
                </label>
                <label for="">Verify Password
                    <input name="verify-password" id="verify-password" type="password" placeholder="Type Your New Password Again">
                </label>
                <div class="footer text-centered">
                    <input class="button" type="submit" value="Save Change">
                </div>
            </form>
        </div>
    </div>
    </div>
    {% include 'footerbar.html' %}
</body>
<script>
function checkPassword() {
    var pass1 = document.getElementById("new-password");
    var pass2 = document.getElementById("verify-password");
    if (pass1 === pass2) {
        return true;
    }
    else {
        return false;
    }
}
//window.alert(userInfo.user_id);
</script>
</html>
