{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/user_profile/styles.css" %}>
</head>
<style>
    td {
        text-align: center;
        table-layout: auto;
    }
    th {
        background-color: #6B7A8F;
        color: white;
    }
</style>
<body>
    {% include 'navbar.html' %}
    {% if alert %}
    <div class="alert-panel text-centered">
        <div id="alert" class="row" style="">
            {{ alert }}
        </div>
    </div>
    {% endif %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="large-10 columns small-centered">
            <div class="row">
                <div class="large-6 columns">
                    <div class="profile-image">
                        <img src="/profile/image/?user_id={{ user_id }}" />
                    </div>
                    {% if user_id == request.session.user_id %}
                    {% include 'upload-image-template.html' with form_action="/profile/handle-change-picture/" type="" type_id="" %}
                    {% endif %}
                </div>
                <div class="large-6 columns">
                    <div class="row" style="font-size: 50px">
                        {% if name %}
                            {{ name }}
                        {% else %}
                            {{ username }}
                        {% endif %}
                    </div>
                    <div style="color: gray; font-size: 30px;" class="row">{{ username }}</div>
                    <div style="color: gray;" class="row">
                        {% if bio %}
                            {{ bio }}
                        {% else %}
                            The Example Bio
                        {% endif %}
                    </div>
                    <div style="margin-bottom: 1em;" class="row">{{ email }}</div>
                    {% if request.session.user_id == user_id %}
                    <div class="row">
                        <div class="large-6 columns">
                            <a class="expanded button" href="/profile/edit">Edit Profile</a>
                        </div>
                        <div class="large-6 columns">
                            <a class="expanded button" href="/profile/change-password">Change Password</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if request.session.user_id == user_id or request.session.user_id.is_staff == true %}
        {% if book %}
        <div class="large-10 columns small-centered">
        	<h4>Booking History</h4>        		
            <table align="center">
                <tr>
                    <th>Trip Name</th>
                    <th>Company</th>
                    <th>Date of Booking</th>
                    <th>Total booking people</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                {% for b in book %}
                    <tr>
                        <td><a href="/trip/?trip_id={{ b.trip.id }}">{{ b.trip.name }}</a></td>
                        <td><a href="/company/?company_id={{ b.trip.company.id }}">{{ b.company_name }}</a></td>
                        <td>{{ b.book_date }}</td>
                        <td>{{ b.people }}</td>
                        <td>{{ b.total_price }} THB</td>
                        {% if b.status == True %}
                        <td>Confirm</td>
                        {% else %}
                        <td>OnGoing</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
		</div>
        {% endif %}
        {% endif %}
    </div>
    {% include 'footerbar.html' %}
</body>
</html>
