{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'essential.html' %}
    <title>All Company</title>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href={% static "css/place/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row nav" style="margin-top: 1em; margin-left: 2em;">{{ nav|safe }}</div>
        <div class="row" style="margin-bottom: 2em;" >
        <div class="large-10 columns small-centered">
            <div class="row" style="margin-top: 2em">
                <h3>All Company</h3>
            </div>
            <div class="row large-up-4 project-overlay-inset">
                {% for p in place_list %}
                {% include 'thumbnail-template.html' with link_to="/company/?company_id=" object=p link_img="/company/logo/?company_id=" %}
                {% empty %}
                No Company Found
                {% endfor %}
            </div>
        </div>
        </div>
    {% include 'footerbar.html' %}
</body>
</html>
