{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/user_profile/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="large-6 columns small-centered">
    <div class="row">
        <form action="/company/process-edit/" method="get">
            <input type="hidden" name="company_id" value="{{ company_id }}">
            <label for="">Name
                <input name="name" type="text" placeholder="Name" id="name" value="{{ name }}">
            </label>
            <label for="">Description
                <input name="description" id="description" type="text" placeholder="Description" value="{{ description }}">
            </label>
            <label for="">Location
                <input name="location" id="location" type="text" placeholder="Location" value="{{ location }}">
            </label>
            <div class="footer text-centered">
                <input class="button" type="submit" value="Save Change">
            </div>
        </form>
    </div>
    </div>
    </div>
    {% include 'footerbar.html' %}
</body>
<script>
var data = { user_id: "{{ request.session.user_id }}",
logo: "{% static 'logo/orange-farm-logo-white-transparent.png' %}"
};
//window.alert(userInfo.user_id);
</script>
</html>
