{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ com1.name }}</title>
    {% include 'essential.html' %}
    {% include 'jquery-essential.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<style>
    .box04_head {
        background: #687A8F;
        color: white;
    }
    .orbit-image{
        width: 100%;
        height: 500px;
    }
    
    label.star:before {
        content: '\f005';
        font-family: FontAwesome;
        color: orange;
    }
</style>
<body>
    {% include "navbar.html" %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="large-10 columns small-centered">
            <div class="row text-centered">
                <h1>
                    {{ com1.name }}
                </h1>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <img src="/company/logo/?company_id={{ com1.id }}" />
            {% if allow_edit %}
            {% include 'upload-image-template.html' with form_action="/company/process-edit-logo/" type="company_id" type_id=com1.id %}
            {% endif %}
                </div>
                <div class="large-6 columns">
                    <div style="color: gray;" class="row">
                        {{ com1.description }}
                    </div>
                    <div style="margin-bottom: 1em;" class="row">{{ com1.location }}</div>
                    {% if allow_edit %}
                    <div class="row">
                        <div class="large-6 columns"><a class="expanded button" href="/company/edit?company_id={{ com1.id }}">Edit</a></div>
                        <div class="large-6 columns">
                            <a class="expanded button" href="#">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if com1.photos %}
            <div class="orbit" role="region" aria-label="Country Pictures" data-orbit style="margin-top: 2em;" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                  <ul class="orbit-container">
                      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                      {% for p in com1.photos %}
                      <li class="orbit-slide">
                          <img class="orbit-image" src="/company/picture/?company_picture_id={{ p.id }}">
                      </li>
                      {% endfor %}
                  </ul>
            </div>
            {% else %}
            <div class="orbit" role="region" aria-label="Country Pictures" data-orbit style="margin-top: 2em;">
                  <ul class="orbit-container">
                      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                      <li class="is-active orbit-slide">
                          <img class="orbit-image" src={% static "pictures/thailand-grand-palace.jpg" %} alt="Space">
                          <figcaption class="orbit-caption">Grand Palace.</figcaption>
                      </li>
                      <li class="orbit-slide">
                          <img class="orbit-image" src={% static "pictures/pattaya.jpg" %}>
                           <figcaption class="orbit-caption">Pattaya</figcaption>
                      </li>
                      <li class="orbit-slide">
                          <img class="orbit-image" src={% static "pictures/pai.jpg" %} alt="Space">
                          <figcaption class="orbit-caption">Pai</figcaption>
                      </li>
                      <li class="orbit-slide">
                          <img class="orbit-image" src={% static "pictures/plearn-wan.jpg" %} alt="Space">
                          <figcaption class="orbit-caption">Plearn Wan</figcaption>
                      </li>
                  </ul>
                  
            </div>
            {% endif %}
            {% if allow_edit %}
            {% include 'upload-image-template.html' with form_action="/company/process-add-photo/" type="company_id" type_id=com1.id %}
            {% endif %}
            <div class="row">
                <br>
                <br>
                <br>
                <h4>Review</h4>
            </div>
            <div class="row">
                {% for r in review %}
                    <div class="box04_head">
                        <h5 class="box04_head02" style="padding: 10px ;  margin-left: 1em ">Comment #b</h5>
                    </div>
                    <div class="box04_page" style="margin-left: 2em ; margin-right: 2em; margin-top: 2em;">
                        <p>{{r.comment}}</p>
                        <p style="float: right">{{username}} | {{r.timestamp}}</p>
                        <div style="float: right;margin-right:1em">
                            <div class="column small-1" style="float: right"><label class="star"></label></div>
                            <div class="column small-1" style="float: right"><label class="star"></label></div>
                            <div class="column small-1" style="float: right"><label class="star"></label></div>
                        </div>
                        <br><br>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <form action="add-review" id='review' name='review' method='get'>
                    <input type="hidden" value='{{ com1.id }}' id='company_id' name='company_id'>
                    <fieldset>
                        <input type="radio" name="rating" value='1' id='one'><label for="one">1</label>
                        <input type="radio" name="rating" value='2' id='one'><label for="one">2</label>
                        <input type="radio" name="rating" value='3' id='one'><label for="one">3</label>
                        <input type="radio" name="rating" value='4' id='one'><label for="one">4</label>
                        <input type="radio" name="rating" value='5' id='one' checked><label for="one">5</label>
                    </fieldset>
                    <textarea id="comment" name="comment" rows="4" placeholder="Write your review here"></textarea>
                    <input type="submit" class="button" value="Save">
                </form>
            </div>
        </div>
    </div>
    {% include "footerbar.html" %}
    <script>
        $(document).foundation();
    </script>
</body>
</html>
