{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New City</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/user_profile/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="large-6 columns small-centered">
    <div class="row">
        <form action="/city/process-add" method="get" name="city-form" id="city-form">
            <label for="">City Name
                <input id="name" type="text" name="name" placeholder="City">
            </label>
            <label for="">Description
                <textarea name="description" id="description" type="text" rows="4"></textarea>
            </label>
            <label for="">Country
                <select id="country-id" name="country-id" form="city-form">
                    <option value="">Select Country</option>
                    {% for i in country_list %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="footer text-centered">
                <input class="button" type="submit" value="Save Change">
            </div>
        </form>
    </div>
    </div>
    </div>
    {% include 'footerbar.html' %}
</body>
</html>
