{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this_city.name }}</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
</head>
<body>
    {% include 'place-info.html' with background_url_path="/city/picture/?city_id=" object=this_city navigation=nav|safe %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="large-10 columns small-centered">
            {% if access_edit %}
            {% include 'upload-image-template.html' with form_action="/city/handle-change-picture/" type="city_id" type_id=this_city.id %}
            {% endif %}
            {% if popular_place %}
            <h3 style="margin-top: 2em;">Popular Place</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for p in popular_place %}
                {% include 'thumbnail-template.html' with object=p link_to="/place/?place_id=" link_img="/place/picture/?place_id=" display_class=3 %}
                {% endfor %}
            </div>
            <a href="popular-place" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
            {% if other_city %}
            <h3>Other City in {{ host_country.name }}</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for c in other_city %}
                {% include 'thumbnail-template.html' with object=c link_to="/city/?city_id=" link_img="/city/picture/?city_id=" display_class=2 %}
                {% endfor %}
            </div>
            <a href="/country/c/{{ host_country.url_point_to }}/city" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
            {% if trip_list %}
            <h3 style="margin-top: 2em;">Featured Trip</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for c in trip_list %}
                {% include 'thumbnail-template.html' with object=c link_to="/trip/?trip_id=" link_img="/trip/picture/?trip_id=" display_class=2 %}
                {% endfor %}
            </div>
            <a href="featured-trip" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
        </div>
    </div>
    {% if access_edit %}
    <div class="row">
                    <div class="large-6 columns">
                        <a class="expanded button" href="/city/edit?city_id={{ this_city.id }}">Edit City</a>
                    </div>
                    <div class="large-6 columns">
                        <a class="expanded button" href="/city/delete?city_id={{ this_city.id }}">Delete City</a>
                    </div>
                </div>
    {% endif %}
    {% include 'footerbar.html' %}
</body>
</html>
