@charset "UTF-8";

.alert-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

a, a:hover {
    color: white;
}

.profile-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 2em; 
}
.profile-image img {
    position: relative;
    left: 50%;
    transform: translate(-50%,0)
}
