{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Place</title>
    {% include 'essential.html' %}
    <link rel="stylesheet" href={% static "css/user_profile/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="large-6 columns small-centered">
    <div class="row">
        <form action="/place/process-add" method="get" name="place-form" id="place-form">
            <label for="">Name
                <input id="name" type="text" name="name" placeholder="name">
            </label>
            <label for="">Description
                <textarea name="description" id="description" type="text" rows="4"></textarea>
            </label>
            <label for="">Country
                <select id="country_id" name="country_id" onchange="updateCity()">
                    <option value="">Select Country</option>
                    {% for i in country_list %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for="">City
                <select id="city_id" name="city_id" form="place-form">
                    <option value="">Select City</option>
                </select>
            </label>
            <div class="footer text-centered">
                <input class="button" type="submit" value="Save Change">
            </div>
        </form>
    </div>
    </div>
    </div>
    {% include 'footerbar.html' %}
</body>
<script>
function updateCity() {
    var e = document.getElementById("country_id");
    var country_id = e.options[e.selectedIndex].value;
    if (country_id === "") {
        var city_e = document.getElementById("city_id");
        city_e.innerHTML = "";
        var opt1 = document.createElement('option');
        opt1.value = "";
        opt1.text = "Select City";
        city_e.appendChild(opt1);
        return;
    }
    var getUrl = "/city/get-city-by-country?country_id=".concat(country_id);
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", getUrl, false ); // false for synchronous request
    xmlHttp.send();
    var jsonObject = xmlHttp.responseText;
    var obj = JSON.parse(jsonObject);
    var city_e = document.getElementById("city_id");
    city_e.innerHTML = "";
    var opt1 = document.createElement('option');
    opt1.value = "";
    opt1.text = "Select City";
    city_e.appendChild(opt1);
    for (var key in obj) {
        var op = document.createElement('option');
        op.value = obj[key];
        op.text = key;
        city_e.appendChild(op);
    }
}
//window.alert(userInfo.user_id);
</script>
</html>
