{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Image</title>
    {% include 'essential.html' %}
    {% include 'jquery-essential.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css">
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="nav row" style="margin-top: 1em; margin-left: 2em;">
        Back to <a style="color: black;" href="/place/c/{{ url_point_to }}">{{ name }}</a>
    </div>
    <div class="large-10 columns small-centered">
        <div class="row" style="margin-top: 2em">
            <h3>Select Image To Delete</h3>
        </div>
        <div class="row">
            <div class="row large-up-3 project-overlay-inset">
                {% for i in place_picture %}
                <div class="column" style="margin-top: 2em;" ><a onclick="handle_delete('{{ i.id }}')"><img src="/place/picture/?place_picture_id={{ i.id }}"  style="width: 100%; height: 200px" /></a></div>
                {% empty %}
                <div>There is no photo for this place.</div>
                {% endfor %}
            </div>
        </div>
    {% if show_upload_button %}
    {% include 'upload-image-template.html' with form_action="/place/handle-add-picture/" type="place_id" type_id=place_id %}
    {% else %}
    <div>Too many image. Please remove to upload the new one.</div>
    {% endif %}
    </div>
    {% include 'footerbar.html' %}
</body>
<script>
function handle_delete(str_a) {
    var a = confirm("Are you sure to delete this image?");
    if (a == true) {
        window.location.href = "/place/handle-delete-picture/?picture_id=".concat(str_a, "&place_id=", "{{ place_id }}");
    }
}
</script>
</html>
