{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this_place.name }}</title>
    {% include 'essential.html' %}
    {% include 'jquery-essential.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css">
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
</head>
<body>
    {% include 'place-info.html' with background_url_path="/place/picture/?place_id=" object=this_place navigation=nav|safe %}
    <div class="large-5 columns small-centered">
        <br><br>
        <div class="orbit" role="region" aria-label="Country Pictures" data-orbit>
            <ul class="orbit-container">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                {% for i in place_picture %}
                <li class="orbit-slide">
                    <img class="orbit-image" src="/place/picture?place_picture_id={{ i.id }}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="large-10 columns small-centered">
            {% if popular_place_list %}
            <h3>Popular Place in {{ host_city.name }}</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for p in popular_place_list %}
                {% include 'thumbnail-template.html' with link_to="/place/?place_id=" link_img="/place/picture/?place_id=" object=p display_class=3 %}
                {% endfor %}
            </div>
            <a href="/city/c/{{ host_city.url_point_to }}/popular-place" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
            {% if related_place %}
            <h3 style="margin-top: 2em;">Related</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for p in related_place %}
                {% include 'thumbnail-template.html' with link_to="/place/?place_id=" link_img="/place/picture/?place_id=" object=p display_class=3 %}
                {% endfor %}
            </div>
            <a href="related" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
            {% if related_trip %}
            <h3 style="margin-top: 2em;">Featured Trip</h3>
            <div class="row large-up-3 project-overlay-inset">
                {% for p in related_trip %}
                {% include 'thumbnail-template.html' with link_to="/trip/?trip_id=" link_img="/trip/picture/?trip_id=" object=p.trip %}
                {% endfor %}
            </div>
            <a href="featured-trip" style="color:black"><p style="text-align: right;">Show more</p></a>
            {% endif %}
        </div>
    </div>
    {% if access_edit %}
    <div class="row">
        <div class="large-4 columns">
            <a class="expanded button" href="/place/edit?place_id={{ this_place.id }}">Edit Place</a>
        </div>
        <div class="large-4 columns">
            <a class="expanded button" href="/place/delete?place_id={{ this_place.id }}">Delete Place</a>
        </div>
        <div class="large-4 columns">
            <a class="expanded button" href="/place/edit-picture?place_id={{ this_place.id }}">Edit Image</a>
        </div>
    </div>
    {% endif %}
    {% include 'footerbar.html' %}
    <script>
        $(document).foundation();
    </script>
</body>
</html>
