{% load static %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ header }}</title>
    {% include 'essential.html' %}
</head>
<body>
    {% include 'orange-farm-big.html' %}
    <div class="row text-centered" style="margin-top: 2em;">
        <div class="large-5 columns small-centered">
            <div class="row" style="font-size: 50px;">
                {{ message }}
            </div>
            <div class="row">
                {{ submessage }}
            </div>
        </div>
    </div>
</body>
</html>
