{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <link rel="stylesheet" href={% static "foundation-6/css/foundation.css" %}>
    <link rel="stylesheet" href={% static "foundation-6/css/app.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <script src={% static "js/navbar.js" %} type="text/babel"></script>
</head>
<body>
        <div class="fixed hide-for-small contain-to-grid">
        <nav class="top-bar" style="background-color: orange;" role="navigation">
            <div class="top-bar-left align-self-middle">
                <div class="section-background" style="color: white; font-size: 30px">
                        <a href="/">
                            <img src={% static "pictures/orange-farm-logo-2.png" %} alt="" style="width: 60px; height: auto;" />
                            Trip Finder
                        </a>
                </div>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu section-background" style="background-color: orange;" data-dropdown-menu>
                    <li><a href="#">Program Tour</a></li>
                    <li><a href="#">Item1</a></li>
                    <li><a href="#">Item1</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
        </div>
        <section style="display: block; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url({% static "pictures/sao-ching-cha.jpg" %})">
            <div class="row">
                <div class="large-10 columns small-centered">
                    <div class="section-background" align="center">
                        <div id="search-button"></div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #D6D6D6">
            <div class="large-10 columns small-centered section-background">
                <h1>Popular</h1>
                <div class="row large-up-3 project-overlay-inset">
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                    <div class="column" style="position: relative;"><a href="#" row="button" aria-label="Thumbnail"><img src={% static "pictures/wat-jd-eiang.jpg" %} class="thumbnail popular-image"/><button class="popular-image-button large success hollow button">Wat JD Eiang</button></a></div>
                </div>
            </div>
        </section>
        <footer class="footer" style="background-color: orange;" >
            <img src={% static "pictures/orange-farm-logo.png" %} />
        </footer>
</body>
<script src={% static "js/searchbutton.js" %} type="text/babel"></script>
</html>
