{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Trip Finder</title>
    {% include 'essential.html' %}
    {% include 'react-essential.html' %}
    <link rel="stylesheet" href={% static "css/firstpage/styles.css" %}>
</head>
<body>
    {% include 'navbar.html' %}
    <section style="display: block; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url({% static "pictures/sao-ching-cha.jpg" %});background-size:cover">
        <div class="row">
            <div class="large-10 columns small-centered">
                <div class="section-background" align="right">
                    <div id="search-button"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="large-10 columns small-centered section-background">
           <h1>Popular Country</h1>
            <div class="row large-up-3 project-overlay-inset">
                {% for c in all_country %}
                {% include 'thumbnail-template.html' with link_to="/country/?country_id=" object=c link_img="/country/picture/?country_id=" %}
                {% endfor %}
            </div>
            <a href="/country/all/" style="color:black"><p style="text-align: right;">Show more</p></a>
        </div>
    </section>
    {% include 'footerbar.html' %}
</body>

<script src={% static "js/searchbutton.js" %} type="text/babel"></script>
</html>
