{% load static %}
<div class="row" style="margin-top: 2em; margin-bottom: 2em;">
    <form action="{{ form_action }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="{{ type }}" type="hidden" name="{{ type }}" value="{{ type_id }}">
        <label class="button" for="image-upload">Upload Image</label>
        <input type="file" id="image-upload" name="image-upload" class="show-for-sr" accept="image/*">
        <input class="button" type="submit" value="Save Change">
    </form>
</div>
